b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea/*
*.iml
projectFilesBackup

.DS_Store

bower_components/
assets/js/*.min.js
assets/js/*.min.map

assets/css/*.min.css
assets/css/*.sass.css
assets/css/*.css.map
assets/css/compiled_sass.css

.sass-cache/

# Special ignore file
assets/js/blogit.js
